*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width:100%;
    background-color: rgb(102, 167, 188);
}

#main{
    height: 100%;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.card{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 500px;
    width: 400px;
    border:2px solid rgb(255, 102, 0);
    border-radius: 5px;
}

#card1{
    height: 500px;
    width: 400px;
    background-color:pink;
    
    transform: translate(-50%,-50%) rotate(-6deg);
    z-index: 12;
}
#card2{
    height: 500px;
    width: 400px;
    background-color:aqua;
    
    transform: translate(-50%,-50%) rotate(-12deg);
    z-index: 11;
}
#card3{
    height: 500px;
    width: 400px;
    background-color:yellow;
    
    transform: translate(-50%,-50%) rotate(-18deg);
    z-index: 10;
}
#card4{
    height: 500px;
    width: 400px;
    background-color:gray;
    transform: translate(-50%,-50%) rotate(-24deg);
    z-index: 9;
}
#card5{
    height: 500px;
    width: 400px;
    background-color:green;
    transform: translate(-50%,-50%) rotate(-30deg);
    z-index: 8;
}
#card6{
    height: 500px;
    width: 400px;
    background-color:purple;
    transform: translate(-50%,-50%) rotate(-36deg);
    z-index: 7;
}
#card7{
    height: 500px;
    width: 400px;
    background-color:maroon;
    transform: translate(-50%,-50%) rotate(-42deg);
    z-index: 6;
}
#card8{
    height: 500px;
    width: 400px;
    background-color:darkorange;
    transform: translate(-50%,-50%) rotate(-48deg);
    z-index: 5;
}
#card9{
    height: 500px;
    width: 400px;
    background-color:blue;
    transform: translate(-50%,-50%) rotate(-54deg);
    z-index: 4;
}
#card10{
    height: 500px;
    width: 400px;
    background-color:rgba(255, 0, 0, 0.826);
    transform: translate(-50%,-50%) rotate(-60deg);
    z-index: 3;
}
#card11{
    height: 500px;
    width: 400px;
    background-color:rgb(243, 172, 79);
    transform: translate(-50%,-50%) rotate(-66deg);
    z-index: 2;
}
#card12{
    height: 500px;
    width: 400px;
    justify-content: center;
    align-items: center;
    background-color:rgb(204, 251, 37);
    transform: translate(-50%,-50%) rotate(-72deg);
    z-index: 1;
}

img{
    height: 500px;
    width: 400px;
    border-radius: 5px;
}

#card1:hover{
    z-index:13;
}
#card2:hover{
    z-index:13;
}
#card3:hover{
    z-index:13;
}
#card4:hover{
    z-index:13;
}
#card5:hover{
    z-index:13;
}
#card6:hover{
    z-index:13;
}
#card7:hover{
    z-index:13;
}
#card8:hover{
    z-index:13;
}
#card9:hover{
    z-index:13;
}
#card10:hover{
    z-index:13;
}
#card11:hover{
    z-index:13;
}
#card12:hover{
    z-index:13;
}

#circle
{
    border: 2px solid maroon;
    width:200px;
    height:200px;
    border-radius: 50%;
    rotate:72deg;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 25%;
    top:30%;
}
h1{
    color:darkblue;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
}